In [179]:
import pandas as pd

In [180]:
df = pd.read_csv("shots_data.csv")
df

       team     x     y  fgmade
0    Team A -23.1   3.5       0
1    Team A   0.0  25.1       1
2    Team A   0.5   1.0       1
3    Team A  -5.6   5.2       0
4    Team A   4.0  14.5       1
..      ...   ...   ...     ...
555  Team B   7.8  24.7       0
556  Team B  10.1   1.4       1
557  Team B -17.8  -0.1       0
558  Team B  22.6   2.9       0
559  Team B  -0.7  14.7       1

[560 rows x 4 columns]

In [181]:
df['hypotenuse_sqd'] = (df['x'] * df['x']) + (df['y'] * df['y'])
df['abs'] = abs(df['x'])

In [182]:
twopt1 = df.loc[(df['hypotenuse_sqd'] <= (23.75 * 23.75)) & (df['y'] > 7.8)]
twopt2 = df.loc[(df['abs'] <= 22) & (df['y'] <= 7.8)]

In [183]:
twopt_final = pd.concat([twopt1,twopt2]).reset_index(drop=True)

twopt_final

# Did not drop duplicates as the same shot may have been attempted more than once, reset index to prevent gaps and errors in
# future work with the two point shot dataframe.

       team     x     y  fgmade  hypotenuse_sqd   abs
0    Team A   4.0  14.5       1          226.25   4.0
1    Team A  -9.2  15.3       0          318.73   9.2
2    Team A  11.2  10.3       0          231.53  11.2
3    Team A -13.6  10.1       1          286.97  13.6
4    Team A -11.7  12.1       0          283.30  11.7
..      ...   ...   ...     ...             ...   ...
328  Team B  11.1   3.3       1          134.10  11.1
329  Team B   8.4   5.7       0          103.05   8.4
330  Team B   1.1   2.3       1            6.50   1.1
331  Team B  10.1   1.4       1          103.97  10.1
332  Team B -17.8  -0.1       0          316.85  17.8

[333 rows x 6 columns]

In [184]:
corner_three = df.loc[(df['abs'] > 22) & (df['y'] <= 7.8)]

corner_three

       team     x    y  fgmade  hypotenuse_sqd   abs
0    Team A -23.1  3.5       0          545.86  23.1
11   Team A  22.3  3.5       0          509.54  22.3
22   Team A  22.5  1.8       1          509.49  22.5
24   Team A  23.5  2.4       0          558.01  23.5
92   Team A  22.8  3.6       1          532.80  22.8
96   Team A -22.9  2.4       0          530.17  22.9
171  Team A  22.6  4.0       0          526.76  22.6
185  Team A  23.0  2.2       0          533.84  23.0
205  Team A -23.4  0.9       1          548.37  23.4
223  Team A  22.9  6.1       1          561.62  22.9
229  Team A -23.4  4.2       0          565.20  23.4
230  Team A  23.7  3.8       1          576.13  23.7
232  Team A -22.8  3.1       1          529.45  22.8
233  Team A -23.0  7.6       0          586.76  23.0
235  Team A  22.8 -0.9       0          520.65  22.8
239  Team A -23.5  3.7       0          565.94  23.5
242  Team A  23.4  1.8       1          550.80  23.4
257  Team A -23.6  4.8       0          580.00  23.6
272  Team A -23.3  1.7       0          545.78  23.3
275  Team A  23.0  4.7       1          551.09  23.0
298  Team B -22.3  2.6       1          504.05  22.3
307  Team B -23.1  2.9       0          542.02  23.1
312  Team B  22.8  1.1       0          521.05  22.8
345  Team B -23.4  7.1       0          597.97  23.4
351  Team B  22.6  2.8       1          518.60  22.6
357  Team B  23.8 -1.2       1          567.88  23.8
384  Team B -22.8  1.9       0          523.45  22.8
393  Team B  23.1 -0.1       0          533.62  23.1
434  Team B -23.0  0.0       0          529.00  23.0
440  Team B  22.7  0.9       0          516.10  22.7
461  Team B  23.7  0.9       0          562.50  23.7
463  Team B  22.8  3.3       0          530.73  22.8
470  Team B -22.6  2.5       0          517.01  22.6
472  Team B  23.2  2.0       0          542.24  23.2
473  Team B  23.1  2.9       1          542.02  23.1
477  Team B -22.8  0.8       1          520.48  22.8
508  Team B -22.9 -1.5       0          526.66  22.9
537  Team B  23.6  6.3       0          596.65  23.6
544  Team B  22.6  2.2       0          515.60  22.6
547  Team B -23.0 -0.6       0          529.36  23.0
558  Team B  22.6  2.9       0          519.17  22.6

In [185]:
nc_three = df.loc[(df['hypotenuse_sqd'] > (23.75 * 23.75)) & (df['y'] > 7.8)]

nc_three

       team     x     y  fgmade  hypotenuse_sqd   abs
1    Team A   0.0  25.1       1          630.01   0.0
9    Team A -16.8  20.5       1          702.49  16.8
17   Team A  15.2  19.7       1          619.13  15.2
18   Team A   2.3  26.2       0          691.73   2.3
21   Team A -16.9  19.7       0          673.70  16.9
..      ...   ...   ...     ...             ...   ...
541  Team B -10.3  23.0       0          635.09  10.3
545  Team B  14.1  21.3       0          652.50  14.1
552  Team B  10.3  22.7       1          621.38  10.3
554  Team B  20.5  14.1       0          619.06  20.5
555  Team B   7.8  24.7       0          670.93   7.8

[186 rows x 6 columns]

In [186]:
total_shots = len(df)
total_shots

# 560 Total Shots Taken

560

In [187]:
a_shots = df.loc[df['team'] == "Team A"]
a_shots

# 280 Shots for Team A

       team     x     y  fgmade  hypotenuse_sqd   abs
0    Team A -23.1   3.5       0          545.86  23.1
1    Team A   0.0  25.1       1          630.01   0.0
2    Team A   0.5   1.0       1            1.25   0.5
3    Team A  -5.6   5.2       0           58.40   5.6
4    Team A   4.0  14.5       1          226.25   4.0
..      ...   ...   ...     ...             ...   ...
275  Team A  23.0   4.7       1          551.09  23.0
276  Team A  -3.0  25.4       0          654.16   3.0
277  Team A  -8.0   2.6       1           70.76   8.0
278  Team A  -7.6   1.7       0           60.65   7.6
279  Team A  -5.5   6.2       1           68.69   5.5

[280 rows x 6 columns]

In [188]:
a_two_pt = twopt_final.loc[twopt_final['team'] == "Team A"]
print(len(a_two_pt))

#170/280 total shots for Team B were 2pt shots

170

In [189]:
a_twopt_share =  (170/280)
a_twopt_share

# 60.71428571428571% of shots Team A took were 2pt shots

0.6071428571428571

In [190]:
a_corner_three = corner_three.loc[corner_three['team'] == "Team A"]

print(len(a_corner_three))

#20/280 total shots for Team A were corner 3pt shots

20

In [191]:
a_corner_three_share =  (20/280)
a_corner_three_share

# 7.142857142857142% of shots Team A took were Corner Three Point shots

0.07142857142857142

In [192]:
a_nc_three = nc_three.loc[nc_three['team'] == "Team A"]
print(len(a_nc_three))

#90/280 total shots for Team A were Non-Corner 3pt Shots

90

In [193]:
a_nc_three_share =  (90/280)
a_nc_three_share

# 32.142857142857146% of shots Team A took were Non-Corner Three Point shots

0.32142857142857145

In [194]:
b_shots = df.loc[df['team'] == "Team B"]
print(len(b_shots))

# 280 Shots for Team B

280

In [195]:
b_two_pt = twopt_final.loc[twopt_final['team'] == "Team B"]
print(len(b_two_pt))

#163/280 total shots for Team B were 2pt shots

163

In [196]:
b_twopt_share =  (163/280)
b_twopt_share

# 58.214285714285715% of shots Team B took were 2pt shots

0.5821428571428572

In [197]:
b_corner_three = corner_three.loc[corner_three['team'] == "Team B"]
print(len(b_corner_three))

#21/280 total shots for Team B were corner 3pt shots

21

In [198]:
b_corner_three_share =  (21/280)
b_corner_three_share

# 7.5% of shots Team B took were Corner Three Point shots

0.075

In [199]:
b_nc_three = nc_three.loc[nc_three['team'] == "Team B"]
print(len(b_nc_three))

#96/280 total shots for Team B were Non-Corner 3pt Shots

96

In [200]:
b_nc_three_share =  (96/280)
b_nc_three_share

# 34.285714285714285% of shots Team B took were Non-Corner Three Point shots

0.34285714285714286

The following code relates to the EFG% Metrics from each zone for each team.

In [201]:
# Team A

In [202]:
a_two_pt_efg = sum(a_two_pt['fgmade']) / (len(a_two_pt))

a_two_pt_efg

0.4

In [203]:
actm = sum(a_corner_three['fgmade'])

a_corner_three_efg = (actm + (0.5 * actm)) / (len(a_corner_three))

a_corner_three_efg

0.6

In [204]:
anctm = sum(a_nc_three['fgmade'])
a_nc_three_efg = (anctm + (0.5 * anctm)) / (len(a_nc_three))

a_nc_three_efg

0.48333333333333334

In [205]:
# Team B

In [206]:
b_two_pt_efg = sum(b_two_pt['fgmade']) / (len(b_two_pt))

b_two_pt_efg

0.4601226993865031

In [207]:
bctm = sum(b_corner_three['fgmade'])

b_corner_three_efg = (bctm + (0.5 * bctm)) / (len(b_corner_three))

b_corner_three_efg

0.35714285714285715

In [208]:
bnctm = sum(b_nc_three['fgmade'])
b_nc_three_efg = (bnctm + (0.5 * bnctm)) / (len(b_nc_three))

b_nc_three_efg

0.546875